<form class="creation_form" [formGroup]="dishCreationForm" *ngIf="!showIngredientCreation">
	<h2 class="page_title">Platos</h2>
	<mat-form-field class="dish_creation_form_field" appearance="standard">

		<mat-label>Nombre</mat-label>

		<input
			#dishNameInput
			matInput
			[formControlName]="dishNameFieldName"
			placeholder="Ingresá el nombre del plato"
		>

		<mat-error
			*ngIf="hasRequiredDishNameError"
			class="dish_creation_form_field__error_message_container"
			align="end"
		>
			<span>{{ requiredDishNameErrorMessage }}</span>
		</mat-error>

	</mat-form-field>
	<section class="dish_creation_form__section ingredients_section">
		<header class="dish_creation_form__section_header">
			<h2 class="dish_creation_form__section_title">Ingredientes</h2>
		</header>

		<div class="ingredients_section__ingredients_creator">
			<mat-form-field class="dish_creation_form_field" appearance="standard">

				<mat-label>Ingrediente</mat-label>
				<input
					#ingredientNameInput
					matInput
					[formControlName]="ingredientNameFieldName"
					[matAutocomplete]="ingredientAutocomplete"
					placeholder="Ingresá el ingrediente"
				>
				<mat-autocomplete #ingredientAutocomplete="matAutocomplete" [displayWith]="getIngredientName">
					<mat-option *ngIf="filteredIngredientsOptions.length === 0">
						<button
							mat-button
							color="primary"
							(click)="handleCreateIngredientClick()"
							type="button"
							>
								Crear un ingrediente nuevo
						</button>
					</mat-option>
					<mat-option *ngFor="let ingredient of filteredIngredientsOptions" [value]="ingredient">
					{{ ingredient.name }}
					</mat-option>
				</mat-autocomplete>

				<mat-error
					*ngIf="hasRequiredIngredientNameError"
					class="dish_creation_form_field__error_message_container"
					align="start"
				>
					<span>{{ requiredIngredientNameErrorMessage }}</span>
				</mat-error>
				<mat-error
					*ngIf="hasIncorrectIngredientNameError"
					class="dish_creation_form_field__error_message_container"
					align="start"
				>
					<span>{{ incorrectIngredientNameErrorMessage }}</span>
				</mat-error>

			</mat-form-field>
			<mat-form-field class="dish_creation_form_field" appearance="standard">
				<mat-label>Cantidad</mat-label>
					<input
						#ingredientQuantityInput
						matInput
						[formControlName]="ingredientQuantityFieldName"
						placeholder="1.2"
						pattern="[0-9]+(\.[0-9]{1,2})?"
						autocomplete="off"
					>
					<mat-hint align="start">
						Valor expresado en <strong>{{getCurrentIngredientMeasurement()}}</strong>
					</mat-hint>
					<mat-error
						*ngIf="hasRequiredIngredientQuantityError"
						class="ingredient_creation_form_field__error_message_container"
						align="start"
					>
						<span>{{ requiredIngredientQuantityErrorMessage }}</span>
					</mat-error>

					<mat-error
						*ngIf="hasInvalidIngredientQuantityFormatError"
						class="ingredient_creation_form_field__error_message_container"
						align="start"
					>
						<span>{{ invalidIngredientQuantityFormatErrorMessage }}</span>
					</mat-error>

					<mat-error
						*ngIf="hasInvalidQuantityIngredientQuantityError"
						class="ingredient_creation_form_field__error_message_container"
						align="start"
					>
						<span>{{ invalidIngredientQuantityErrorMessage }}</span>
					</mat-error>

			</mat-form-field>
			<p><strong>Unidad: {{getCurrentIngredientMeasurement()}}</strong></p>

			<button
				mat-raised-button
				color="accent"
				(click)="addIngredient( )"
				type="button"
				[disabled]="!shouldEnableAddIngredientButton"
			>
				Agregar Ingrediente
			</button>
		</div>
	</section>
<div class="ingredients_section__added_ingredients">
	<div class="ingredients_section__added_ingredient_row" *ngFor="let addedIngredient of addedIngredients">
		<div class="added_ingredient_row__ingredient_name">{{ addedIngredient.ingredient.name }}</div>
		<div class="added_ingredient_row__ingredient_quantity">{{ addedIngredient.quantity }} {{ addedIngredient.ingredient.measurement }}</div>
		<button
			mat-raised-button
			color="warn"
			(click)="removeIngredient( addedIngredient.ingredient.id )"
			type="button"
		>
			Eliminar Ingrediente
		</button>
	</div>
</div>

<button
	mat-raised-button
	class="submit_button"
	[disabled]="!submitButtonIsEnabled"
	color="accent"
	(click)="create( )"
>
	{{ submitbuttonText }}
</button>
</form>
<div *ngIf="showIngredientCreation">
	<button

		mat-raised-button
		class="submit_button"
		color="accent"
		(click)="handleBackToDishCreationClick()"
	>
		Volver
	</button>
	<cu-ingredient-creation-page></cu-ingredient-creation-page>
</div>