:host {
	flex: 1 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
	padding: 2.5rem;
}

.page_title {
	font-size: 48px;
	color: hsla( 0, 0%, 0%, 0.75 );
	margin-bottom: 2.5rem;
}

.ingredients_section__ingredients_creator,
.ingredients_section__added_ingredient_row {
	display: grid;
	grid-template-columns: 15rem 15rem auto;
	grid-auto-flow: row;
	gap: 1rem;
	align-items: center;
}

.ingredients_section__added_ingredients {
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: row;
	gap: 1rem;
}

.dish_name_field {
	width: 35rem;
	margin-bottom: 2rem;
}

.submit_button {
	display: block;
	margin-top: 2rem;
}