:host {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	position: relative;
}

.authentication_form {
	display: flex;
	flex-flow: column nowrap;
}

.authentication_form_field {
	width: 20rem;
	font-size: 16px;

	&__error_message_container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	&__form_error {
		margin: 1rem 0 0 0;
	}

	&__submit_button {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		margin: 1rem 0 0 0;
		text-align: center;
		text-transform: uppercase;
	}

}