<mat-toolbar class="app_bar">
	<span class="app_bar__site_title">Comedor Universitario</span>
	<span class="app_bar__user_name">
		<ng-container *ngIf="aUserIsAuthenticated">
			Hola, <strong>{{ fullNameOfAuthenticatedUser }}</strong>
		</ng-container>
		<ng-container *ngIf="!aUserIsAuthenticated">
			Hola, invitado
		</ng-container>
	</span>
	<button
		mat-flat-button
		color="accent"
		class="app_bar__action_button login_button"
		*ngIf="!aUserIsAuthenticated"
		(click)="redirectToAuthenticationPage( )"
	>
		Ingresar
	</button>
	<button
		mat-flat-button
		color="accent"
		class="app_bar__action_button logout_button"
		*ngIf="aUserIsAuthenticated"
		(click)="deauthenticate( )"
	>
		Salir
	</button>
</mat-toolbar>

<main class="router_outlet_container">
	<router-outlet></router-outlet>
</main>