<header class="app_bar">
	<h1 class="app_bar__site_title">Comedor Universitario</h1>
	<span class="app_bar__user_name">
		<ng-container *ngIf="userIsAuthenticated">
			Hola, <strong>{{ userFullName }}</strong>
		</ng-container>
		<ng-container *ngIf="!userIsAuthenticated">
			Hola, invitado
		</ng-container>
	</span>
	<cu-button
		class="app_bar__action_button login_button"
		*ngIf="!userIsAuthenticated"
		(click)="authenticate( )"
	>
		Ingresar
	</cu-button>
	<cu-button
		class="app_bar__action_button logout_button"
		*ngIf="userIsAuthenticated"
		(click)="deauthenticate( )"
	>
		Salir
	</cu-button>
</header>

<main class="router_outlet_container">
	<router-outlet></router-outlet>
</main>

<footer class="app_footer">
	<span class="app_footer__environment_indicator">
		Entorno actual: <strong>{{ environmentName }}</strong>
	</span>
</footer>