:host {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	position: relative;
}

.router_outlet_container {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
}