<h2 class="page_title">Ingredientes</h2>

<form class="creation_form" [formGroup]="ingredientCreationForm">
	<mat-form-field class="ingredient_creation_form_field" appearance="standard">

		<mat-label>Nombre</mat-label>

		<input
			#ingredientNameInput
			matInput
			[formControlName]="ingredientNameFieldName"
		>

		<mat-error
			*ngIf="hasRequiredNameError"
			class="ingredient_creation_form_field__error_message_container"
			align="end"
		>
			<span>{{ requiredIngredientNameErrorMessage }}</span>
		</mat-error>

	</mat-form-field>

	<mat-form-field class="ingredient_creation_form_field" appearance="standard">

		<mat-label>Unidad de medida</mat-label>

		<input
			#measurementInput
			placeholder="Seleciona una unidad"
			matInput
			type="text"
			[formControl]="measurementField"
			[matAutocomplete]="auto"
			appearance="fill"
		>
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let measurement of filteredMeasurements" [value]="measurement">
			  {{measurement}}
			</mat-option>
		</mat-autocomplete>

		<mat-error
			*ngIf="hasRequiredMeasurementError"
			class="ingredient_creation_field__error_message_container"
			align="end"
		>
			<span>{{ requiredMeasurementErrorMessage }}</span>
		</mat-error>

		<mat-error
			*ngIf="hasInvalidMeasurementError"
			class="ingredient_creation_field__error_message_container"
			align="end"
		>
			<span>{{ invalidMeasurementErrorMessage }}</span>
		</mat-error>

	</mat-form-field>

	<button
		mat-raised-button
		class="ingredient_creation_form_field__submit_button"
		[disabled]="submitButtonIsDisabled"
		color="accent"
		(click)="create( )"
	>
		{{ submitbuttonText }}
	</button>
</form>