.search-box-holder {
	width: 30%;
	height: auto;
	margin: 15px;
}

.cards-holder {
	height: auto;
	margin-left: 10px;
}

.card-container {
	margin-bottom: 15px;
}

.dniDigitCount {
	float: right;
}

.container {
	display: flex;
	margin: 15px;
	width: auto;
}

.search-button {
	margin-left: 20px;
}

.spinner {
	margin-left: 30%;
	margin-top: 10%;
}