<div class="search-meal">
	<form class="search-form" [formGroup]="searchForm">
		<mat-form-field class="search-form-full-width">
		  <mat-label>Buscador</mat-label>
		  <input
			  matInput
			  placeholder="Nombre"
			  formControlName='searchInput'
			  autocomplete="off"
			  >
		</mat-form-field>
		<button mat-button color="primary" (click)="searchMeals()" type='button'>Buscar</button>
	  </form>
</div>
<div class=container>
	<div class="cards-holder" *ngIf="currentMeals.length && !isWaitingForServerResponse">
		<div class="card-container" *ngFor="let meal of currentMeals; trackBy: trackItem">
			<cu-menu-card
				[cardTitle]="meal.name"
				[shouldDisplayCartActionButton]="false"
				(viewMoreButtonClick)="navigateToDetailView(meal.id)"
			></cu-menu-card>
		</div>
	</div>
	<div *ngIf="currentMeals.length == 0 &&  meals.length != 0 && !isWaitingForServerResponse">
		<mat-card>
			<mat-card-content>
				No existen menús que coincidan con la búsqueda
			</mat-card-content>
		</mat-card>
	</div>
	<div *ngIf="meals.length == 0 && !isWaitingForServerResponse">
		<mat-card>
			<mat-card-content>
				No hay menús cargados en el sistema
			</mat-card-content>
		</mat-card>
	</div>
</div>
<mat-spinner class="spinner" *ngIf="isWaitingForServerResponse"></mat-spinner>
<div class="create-menus" *ngIf="!isWaitingForServerResponse">
	<mat-card>
		<mat-card-title>
			Crea menús
		</mat-card-title>
		<mat-card-subtitle>
			Podés crear menúes haciendo click en el botón
		</mat-card-subtitle>
		<mat-card-actions>
			<button
				mat-raised-button
				color="accent"
				(click)="this.router.navigate([ pageUrls.createMenu ]);"
			>Crear menú</button>
		</mat-card-actions>
	</mat-card>
</div>